/* app css stylesheet */

html, body {
  background-color: #003366;
  width: 100%;
  height: 100%;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}
.game-title {
  border-bottom: 1px solid #eee;
}
.card-holder {
  position: relative;
  min-height: 500px;
}
.start-card, .groups-card {
  top:50%;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
}

/* Card animations */
.start-card.ng-hide-add, .start-card.ng-hide-remove {
  transition: all linear 1s;
  display: block !important;
}
 
.start-card.ng-hide-add,
.start-card.ng-hide-remove.ng-hide-remove-active {
  animation-name: fly-off;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes fly-off {
  from {
    opacity: 1;
  }
  to {
    margin-top:-150px;
    opacity: 0;
    top 0;
  }
}
/* End Card animations*/

.game-container {
  background-color: #fff;
  border-radius: 4px;
  min-height: 600px;
}

.list-group-item {
  cursor: pointer;
}

.group-panel, .game-board {
  min-height: 500px;
}

.game-board {
}

.question-body {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 250px;
  font-size: 18px;
}

ol.multiple-choice {
  list-style-type: upper-alpha;
  margin-left: -20px;
  font-size: 20px;
}

.group-1 {
  border-top: 3px solid red
}
.group1
.group-2 {
   border-top: 3px solid blue
}
.group-3 {
   border-top: 3px solid orange
}
.group-4 {
   border-top: 3px solid purple
}
.group-5 {
   border-top: 3px solid black
}
.group-6 {
   border-top: 3px solid yellow
}
.group-7 {
   border-top: 3px solid green
}
.group-8 {
   border-top: 3px solid cyan 
}