<div class="game-container row">
	<div class="group-panel col-md-2">
		<div class="row">
			<div class="list-group">
				<a class="list-group-item group-{{group.number}}" ng-repeat="group in groups.left" ng-include="template" ng-click="givePoint()"></a>
			</div>
		</div>
	</div>
	
	<div class="game-board col-md-8" ng-controller="gameBoardCtrl" ng-include="template" ></div>

	<div class="group-panel col-md-2">
		<div class="row">
			<div class="list-group">
				<a href="" class="list-group-item group-{{group.number}}" ng-repeat="group in groups.right" ng-include="template" ng-click="givePoint()"></a>
			</div>
	</div>
</div>